body{
 background-color: black;
}

h1{
	position:absolute;
    color: white;
	font-family:algerian;
	font-size: 38px;
	color:white;
	text-align: center;
    font-variant: small-caps;
    top:20px;
	left:450px;
	width: 400px;
    height: 100px;
}

hr{ position:relative;
	width: 120px;
	color: white;
    top:100px;
    left: 0px;
}

.content{
    position: absolute;
	top:5px;
	left:88px;
	font-family: serif;
	color: black;
	font-style: oblique;
	background-color: white;
   width: 800px;
   height: 450px;
    font-size: 32px;
    margin: 150px;
	padding:20px;
	border-width: 6px;
	border-style: solid;
	border-color: #646060;
	outline-width: 5px;
	outline-style: solid;
	outline-color: white;
     text-align: center;
}
 .line{ position: fixed;
	 	   top:0px;
	 	   left:1260px;
	 	   background-color:white;
	 	   height:300px;
	 	   width: 1px; 
	 	   z-index: 0px}

	 .circle{
	     position: fixed;
	 	 background-image: linear-gradient(white,grey);
         border-radius: 100%;
         border-color: #898787;
         top:300px;
         left:1225px;
         height:70px;
	 	 width:70px;
         z-index: 2px;
         
	 }


	 .line1{ position: fixed;
	 	   top:0px;
	 	   left:1300px;
	 	   background-color:white;
	 	   height:500px;
	 	   width: 1px; 
	 	   z-index: -1px;}

	 .circle1{ position:fixed;
	 	background-image: linear-gradient(white,grey);
         border-radius:100%;
         top:500px;
         left:1255px;
         height:90px;
	     width:90px;
     	  z-index: 2px;
	 }
textarea{
	padding: 5px;
	text-align: center;
}

	  input[type="email"]::placeholder{
     text-align: center;

	  }

	   input[type="text"]::placeholder {
	   	text-align: center;
	   }
.form-control1{
    height: 50px;
    width:520px;
    margin:10px;
    border-style: solid;
    border-width:2px;
    border-color: black;
    background-image: linear-gradient(to top,white,grey);
}
.form-control2{
    height: 50px;
    width:520px;
    margin:10px;
     border-style: solid;
    border-width:2px;
    border-color: black;
    background-image: linear-gradient(to top,white,grey);
}

.form-control3{
    height: 100px;
    width:520px;
    margin:10px;
    border-width:2px;
     border-style: solid;
  border-color: black;
    background-image: linear-gradient(to top,white,grey);
}
.form-control-submit{
  height: 100px;
  width:520px;
  background-color:#FE460D;
 box-shadow: 10px 10px 10px  grey;
margin:10px;
 
 

}

.form-control-submit:hover{
 transform: scale(1.05);
	cursor: pointer;
}

.fb{
  font-size: 20px;

}
img{
	width: 30px;
	height: 30px;
	border-radius: 0%;
}

img:hover{
	transform: scale(1.4);
	border-radius: 50%;
}